@import url('https://fonts.googleapis.com/css2?family=Open+Sans&family=Poppins:ital,wght@0,400;1,500&display=swap');

$pryFont: 'Open Sans', sans-serif;
$secFont: 'Poppins', sans-serif;

$fs-xs: 0.9rem;
