*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

a {
  display: inline-block;
  text-decoration: none;
}

li {
  list-style: none;
}

img {
  width: 100%;
  height: auto;
}

body {
  -webkit-text-size-adjust: 100%;
  font-family: $pryFont;
  line-height: 1.5;
  color: $veryDarkCyan;
}

.logo {
  width: 120px;
}
